@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    font-family: Quicksand;

    margin: 0;
    padding: 0;
}

.account-container {



    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-family: Quicksand;
    text-align: center;
    color: black;
    font-size: xx-large;
    font-weight: 350;

}




.items p{
    font-family: Quicksand;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0;

    font-size: small;



}
.sellitems{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    width: 100%;


}
.account-info {
    font-family: Quicksand;
    font-size: 16px;
    line-height: 1.8;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;

}

 .customer-info-container {
     position: relative;
     display: inline-block;
 }

.customer-info-container:hover .customer-info-tooltip {
    display: block;
}

.customer-info-tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    z-index: 1000;
}




.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}
.backtoexplore{
    width: 200px;
    height: 50px;
    border: solid;
    border-radius: 25px;
    cursor: pointer;
    border-color: grey;
    font-size: large;
}

.trending {
    display: block;

    width: 100%;
}
.trendingtextbox {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.trendingitemsbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 50px;
    width: 100%;
}
.item1 {
    display: flex;
    flex-direction: column;
    width: 350px;

    margin: 20px;
    border: solid;
    border-radius: 5px;
}

.itempic {

}

.iteminfo {
    font-family: Quicksand;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.sellinfo {
    font-family: Quicksand;
    display: flex;
    flex-direction: column;
    border: solid;
}



.rentalinfo {

}

.rentalitems {

}






