@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    font-family: 'Quicksand', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;

}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.main {
    font-family: 'Quicksand', sans-serif;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;



    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid;
    border-color: black;
    border-radius: 15px;

}


.shopinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;




}

.entershopbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 30px;


}

.shopinputbox {
    display: flex;
    flex-direction: column;

}

.image {
    display: block;
    margin-left: 75px;
}

button{
    width: 150px;
    height: 35px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
    font-family: Quicksand;
    font-size: 15px;
}
.nextbox{
    margin-top: 20px;

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.backtorental{
    width: 200px;
    height: 50px;
    border: solid;
    border-radius: 25px;
    cursor: pointer;
    border-color: grey;
    font-size: large;
}
input{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: Quicksand;
    font-size: 15px;

}

p{
    font-family: Quicksand;
    font-size: xx-large;
    font-weight: 350;
}

