
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
    font-family: Quicksand;
    display: grid;
    place-items: center;
    height: 100vh;
}



.linebox {
    display: flex;
    flex-direction: column;


}

.line1 {
    display: flex;
    justify-content: center;


}

.line2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.p1 {
    font-family: Quicksand;
    font-size:xx-large;
    font-weight: 350;
}
.p2 {
    font-family: Quicksand;
    font-size:x-large;
    font-weight: 350;
}
.p3 {
    font-family: Quicksand;
    font-size:x-large;
    font-weight: 350;
}




.category {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    min-width: 950px;
    height: 550px;

}





.customer {
    border: solid;
    border-width: 3px;
    border-radius: 20px;

    width: 37.5%;

}

.featurename{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.featurebox{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;


}
.buyer{

    height: 400px;
    width: 100%;
}
.buyertextbox{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    width: 350px;
    height: 330px;
    margin-top: 20px;
    margin-left: 10px;





}
.buyerbuttonbox{
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}
.buyertext {

    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.buyerbutton{
    font-family: quicksand;
    font-size: medium;

    width: 120px;
    height: 35px;
    border: solid;



    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(155, 155, 155, 0.706);
    cursor: pointer;
}





.sell {
    border: solid;
    border-width: 3px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;


}


.seller {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    width: 100%;
    height: 400px;

    row-gap: 30px;

}

.sellertextbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    margin: 5px;


    height: 420px;

    margin-top: 20px;


}
.sellerbuttonbox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.sellertext {

    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sellerbutton {
    font-family: quicksand;
    font-size: medium;

    width: 120px;
    height: 35px;
    border: solid;



    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(155, 155, 155, 0.706);
    cursor: pointer;
}


.shop {
    border: solid;
    border-width: 3px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;




}
.staff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    width: 100%;
    height: 400px;

    row-gap: 30px;


}
.stafftextbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    margin: 5px;


    height: 420px;

    margin-top: 20px;
}
.staffbuttonbox {
    display: flex;
    justify-content: center;


    margin-bottom: 20px;
}
.stafftext {


    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

}
.staffbutton {
    font-family: quicksand;
    font-size: medium;

    width: 120px;
    height: 35px;
    border: solid;



    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(155, 155, 155, 0.706);
    cursor: pointer;

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
