@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    font-family: Quicksand;
    display: grid;
    place-items: center;
    height: 100vh;

}

.linebox{
    display: flex;
    justify-content: center;

}

.p1 {
    font-family: Quicksand;
    font-size:xxx-large;
    font-weight: 350;
}

.firstname,.lastname {
    width: 47.5%;
    font-family: quicksand;
    font-size: large;

    border: solid;
    border-color: rgba(123, 123, 123, 0.329);
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;

}

.namebox {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;

}

.emailbox {
    display: block;
    background-color: blues;
}


.email {
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: quicksand;
    font-size: large;
    width: 60%;
    border: solid;
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    border-color: rgba(123, 123, 123, 0.329);
    padding-left: 5px;
}

.passbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

.pass {
    width: 47.5%;
    font-family: quicksand;
    font-size: large;
    border: solid;
    border-color: rgba(123, 123, 123, 0.329);
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;

}



.confirmpass {
    width: 47.5%;
    font-family: quicksand;
    font-size: large;
    border: solid;
    border-color: rgba(123, 123, 123, 0.329);
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;
}

.phone {
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: quicksand;
    font-size: large;

    border: solid;
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    border-color: rgba(123, 123, 123, 0.329);
    padding-left: 5px;
}


.nidbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

.nid {
    width: 47.5%;
    font-family: quicksand;
    font-size: large;


    border: solid;
    border-color: rgba(123, 123, 123, 0.329);
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;



}


.dob {
    width: 47.5%;
    font-family: quicksand;
    font-size: large;



    border: solid;
    border-color: rgba(123, 123, 123, 0.329);
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;

}



.address {
    font-size: large;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: quicksand;
    width: 98.5%;
    border: solid;
    border-width: 2px;
    border-radius: 3px;
    height: 35px;
    border-color: rgba(123, 123, 123, 0.329);
    padding-left: 5px;

}

.next {
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: quicksand;
    width: 100px;

    border: solid;
    border-width: 1px;
    border-radius: 3px;
    height: 40px;
    border-color: rgba(123, 123, 123, 0.329);
    padding-left: 5px;

}

.whole {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 500px;


}
